:root{
  --bg: #071a57;
  --panel: #08164a;
  --panel2: #07123d;
  --border: #06123b;
  --board-blue: #0b2aa8;
  --gold: #ffd54a;
  --text: #ffffff;

  --radius: 16px;
  --gap: 12px;
  --shadow: 0 8px 24px rgba(0,0,0,.25);
}

body{
  margin:0;
  background: var(--bg);
  color: var(--text);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial;
}
